[submodule "main"]
	path = VibeSim
	url = https://github.com/SyFI-VibeSim/VibeSim.git
	branch = master
[submodule "user-facing-ui"]
	path = VibeSimAgent
	url = https://github.com/SyFI-VibeSim/VibeSimAgent.git
	branch = agent-http-api
[submodule "viz-ui"]
	path = VibeSimUI
	url = https://github.com/SyFI-VibeSim/VibeSimUI.git
	branch = main
[submodule "vibesim-intro"]
	path = vibesim-intro
	url = https://github.com/SyFI-VibeSim/vibesim-intro.git
	branch = main
