[submodule "ServingStudioSim"]
	path = ServingStudioSim
	url = https://github.com/SyFI-ServingStudio/ServingStudioSim.git
	branch = master
[submodule "ServingStudioAgent"]
	path = ServingStudioAgent
	url = https://github.com/SyFI-ServingStudio/ServingStudioAgent.git
	branch = agent-http-api
[submodule "ServingStudioUI"]
	path = ServingStudioUI
	url = https://github.com/SyFI-ServingStudio/ServingStudioUI.git
	branch = main
[submodule "ServingStudioIntro"]
	path = ServingStudioIntro
	url = https://github.com/SyFI-ServingStudio/ServingStudioIntro.git
	branch = main
